<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1.0"
	/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<title>Phaser Driving</title>
			<link rel="preload" as="font" href="../assets/fonts/Aine.ttf" type="font/ttf" crossorigin/>
	<link rel="stylesheet" href="../assets/css/styles.css">
	<script>
		window.env = {
			buildType: '<%= htmlWebpackPlugin.options.buildType %>',
			version: '<%= htmlWebpackPlugin.options.version %>',
		};
	</script>
</head>

<body
	style="
	height: 100%;
    padding: 0;
    margin: 0;">
	<div id="game-container" style="font-family: Aine"></div>
</body>
</html>
